---
import Layout from '../layouts/Layout.astro';
---
<Layout title='Auxiliar Manipuladora del Cartón'>

	<h1 class="text-[var(--auxiliar1)]">
		Desde el Index
	</h1>

	<a href="/pagina1/inicio">Enlace a la primera pagina</a>
	
</Layout>

<style>

</style>