---
import Card from '../components/Card.astro';
import LayoutNavbar from '../layouts/LayoutNavbar.astro'
---

<LayoutNavbar>
    
    <div class="flex flex-wrap gap-8">
        <Card url="/ej1.png" url2="/tel.svg"></Card>
        <Card url="/diseño.png" url2="/tel.svg"></Card>
        <Card url="/ej1.png" url2="/tel.svg"></Card>
        <Card url="/ej1.png" url2="/tel.svg"></Card>
    </div>

</LayoutNavbar>

<style>

</style>