---
export interface Props {
    url:string
    tel?:{
        departamento: string,
        telefono:string,
    }
}

const { url, tel } = Astro.props
---




<article>
    <img src={url} alt="">
    <div><p>{tel}</p></div>
</article>

<style>
    article{
        position: relative;
        width: 333px;
        transition: all .3s ease;
    }

    article img{
        object-fit: cover;
        width: 100%;
        box-shadow: 1px 1px 5px 0px rgba(0,0,0,.5);
        border-radius: 1rem;
    }

    article div{
        color: black;
        position: absolute;
        width: 222px;
        height: 112px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        transform: translateY(77%);
        opacity: 0;
        transition: all .3s ease;
        /* border: solid 1px red; */
    }
    article div>p{
        display: block;
        width: 100%;
        height: auto;
        color: black;
        white-space: nowrap;
        /* font-size: 3rem; */
        font-weight: bold;
        text-shadow: -1px 0 var(--auxiliar1), 0 1px var(--auxiliar1), 1px 0 var(--auxiliar1), 0 -1px var(--auxiliar1);
    }

    article:hover{
        transform: perspective(222px) rotateX(10deg) translateY(-16%) translateZ(0);
    }

    article:hover div{
        opacity: 1;
        transform: translateY(0%);
    }

    article::before{
        content:'';
        position: absolute;
        bottom: 0;
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        box-shadow: 1px 22px 22px -15px rgba(0,0,0,.5);
        background-image: linear-gradient(
            to bottom,
            transparent 10%,
            rgba(255,255,255,.5) 50%,
            rgba(255,255,255)95%
        );
        opacity: 0;
        transition: all .3s ease;
    }
    article:hover::before{
        opacity: 1;
    }


</style>