---
import Home from '../components/Home.astro'

// export interface Props {
//     menu: string[][]
// }

const { menu } = Astro.props

console.log(menu)

const david = ['inicio', 'productos', 'about', 'servicios']
---
<nav class="flex flex-row justify-between mt-4">
    <div class="ml-4">
        <Home />
    </div>
    <ul class="flex flex-row gap-4 justify-end mr-4">
        {
            david.map( (item) => {
            return   <li>
                    <a href={item}>{item}</a>
                </li>}
            )
            
        }
    </ul>
</nav>



